.trashBtn {
    font-size: 15px;
    background-color: white;
    border: 0px solid gray;
}

.action-div{
    display: flex;
}

.button {
	margin-bottom: 0 !important;
	margin-right: .5rem;
}

.add-div{
    width: 40%;
}

th{
    color: gray;
}

th,
td{
    border: 1px solid #dedede;
    text-align: center;
    vertical-align: sub;
}

.created{
    background-color: #72e772;
    width: 90px;
    border-radius: 5px;
    color: white;
}

.waited{
    background-color: #ef6e64;
    width: 125px;
    color: white;
    border-radius: 5px;
}